.wrapEdit[view-type='pivot'] {
  ._wMainView {
    background: #F7F7F7;
    padding: 10px;
  }
}
.wrapEdit[view-type='kanban'] {
  ._wMainView {
    background: #F7F7F7;
    ._recordVisible {
      opacity: 0.5;
      border-color: #e6e6e6;
    }
  }
}
