.cs_row {
    @media (min-width: 992px){
        margin-right:-50px;
    }
}
.cs_row1 {
    @media (min-width: 992px){
        margin-right:-60px;
    }
}
.cs_row2 {
    @media (min-width: 992px){
        margin-right:-65px;
    }
}
.cs_margin {
    @media (min-width: 992px){
        margin-right:1% !important;
    }
}