<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="quality_control_main_menu" name="Quality Control" groups="sh_inventory_mrp_qc.sh_quality_control_user" />

    <menuitem id="menu_qc_dashboard" name="Dashboard" action="qc_dashboard_action" parent="sh_inventory_mrp_qc.quality_control_main_menu" sequence="0" />

    <menuitem id="main_menu_quality_picking" name="All Operations" parent="sh_inventory_mrp_qc.quality_control_main_menu" sequence="1" />

    <menuitem id="child_menu_quality_picking_inventory" name="Inventory" parent="sh_inventory_mrp_qc.main_menu_quality_picking" sequence="1" />

    <menuitem id="menu_pending_qc" name="Pending QC" parent="sh_inventory_mrp_qc.child_menu_quality_picking_inventory" action="pending_qc_action" sequence="1" />
    <menuitem id="menu_failed_qc" parent="sh_inventory_mrp_qc.child_menu_quality_picking_inventory" action="failed_qc_action" sequence="2" />
    <menuitem id="menu_passed_qc" parent="sh_inventory_mrp_qc.child_menu_quality_picking_inventory" action="passed_qc_action" sequence="3" />
    <menuitem id="menu_full_passed_qc" parent="sh_inventory_mrp_qc.child_menu_quality_picking_inventory" action="fully_passed_qc_action" sequence="4" />

    <menuitem id="child_menu_quality_picking_mrp" name="MRP" parent="sh_inventory_mrp_qc.main_menu_quality_picking" sequence="2" />

    <menuitem id="mrp_menu_pending_qc" name="Pending QC" parent="sh_inventory_mrp_qc.child_menu_quality_picking_mrp" action="mrp_pending_qc_action" sequence="1" />
    <menuitem id="mrp_menu_failed_qc" parent="sh_inventory_mrp_qc.child_menu_quality_picking_mrp" action="mrp_failed_qc_action" sequence="2" />
    <menuitem id="mrp_menu_full_passed_qc" parent="sh_inventory_mrp_qc.child_menu_quality_picking_mrp" action="mrp_fully_passed_qc_action" sequence="4" />

    <menuitem id="child_menu_quality_picking_wo" name="Workorder" parent="sh_inventory_mrp_qc.main_menu_quality_picking" sequence="3" />

    <menuitem id="workorder_menu_pending_qc" name="Pending QC" parent="sh_inventory_mrp_qc.child_menu_quality_picking_wo" action="workorder_pending_qc_action" sequence="1" />
    <menuitem id="workorder_menu_failed_qc" parent="sh_inventory_mrp_qc.child_menu_quality_picking_wo" action="workorder_failed_qc_action" sequence="2" />
    <menuitem id="workorder_menu_full_passed_qc" parent="sh_inventory_mrp_qc.child_menu_quality_picking_wo" action="workorder_fully_passed_qc_action" sequence="4" />

    <menuitem id="quality_main_menu" name="Quality Check" parent="quality_control_main_menu" sequence="2" />

    <menuitem id="menu_quality_check" name="Quality Check" action="quality_check_action" parent="sh_inventory_mrp_qc.quality_main_menu" sequence="2" />
    <menuitem id="menu_mrp_quality_check" name="Mrp Quality Check" action="mrp_quality_check_action" parent="sh_inventory_mrp_qc.quality_main_menu" sequence="3" />
    <menuitem id="menu_wo_quality_check" name="WO Quality Check" action="wo_quality_check_action" parent="sh_inventory_mrp_qc.quality_main_menu" sequence="4" />

    <menuitem id="main_menu_quality_alert" name="Quality Alerts" parent="sh_inventory_mrp_qc.quality_control_main_menu" sequence="3" />

    <menuitem id="menu_quality_alert" name="Quality Alerts" parent="main_menu_quality_alert" action="quality_alert_action" sequence="1" />
    <menuitem id="mrp_menu_quality_alert" name="MRP Quality Alerts" parent="main_menu_quality_alert" action="mrp_quality_alert_action" sequence="1" />
    <menuitem id="wo_menu_quality_alert" name="WO Quality Alerts" parent="main_menu_quality_alert" action="wo_quality_alert_action" sequence="1" />

    <menuitem id="quality_control_report_main_menu" name="Reporting" parent="sh_inventory_mrp_qc.quality_control_main_menu" sequence="3" />

    <menuitem id="quality_control_report_sub_menu_inventory" name="Inventory" parent="sh_inventory_mrp_qc.quality_control_report_main_menu" sequence="1" />

    <menuitem id="menu_quality_check_pivot" name="Quality Check" action="quality_check_report_action" parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_inventory" sequence="1" />
    <menuitem id="menu_quality_alert_pivot" name="Quality Alert" action="quality_alert_report_action" parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_inventory" sequence="2" />
    <menuitem
        id="menu_quality_check_action"
        name="Quality Check Report"
        groups="sh_inventory_mrp_qc.sh_quality_control_manager"
        action="quality_check_report_wizard_action"
        parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_inventory"
        sequence="3"
    />
    <menuitem
        id="menu_quality_alert_report"
        name="Quality Alert Report"
        action="quality_alert_report_wizard_action"
        groups="sh_inventory_mrp_qc.sh_quality_control_manager"
        parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_inventory"
        sequence="4"
    />

    <menuitem id="quality_control_report_sub_menu_mrp" name="MRP" parent="sh_inventory_mrp_qc.quality_control_report_main_menu" sequence="2" />

    <menuitem id="menu_mrp_quality_check_pivot" name="Quality Check" action="mrp_quality_check_report_action" parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_mrp" sequence="1" />
    <menuitem id="menu_mrp_quality_alert_pivot" name="Quality Alert" action="mrp_quality_alert_report_action" parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_mrp" sequence="2" />

    <menuitem
        id="menu_mrp_quality_check_action"
        name="Quality Check Report"
        groups="sh_inventory_mrp_qc.sh_quality_control_manager"
        action="mrp_quality_check_report_wizard_action"
        parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_mrp"
        sequence="3"
    />
    <menuitem
        id="menu_mrp_quality_alert_report"
        name="Quality Alert Report"
        action="mrp_quality_alert_report_wizard_action"
        groups="sh_inventory_mrp_qc.sh_quality_control_manager"
        parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_mrp"
        sequence="5"
    />

    <menuitem id="quality_control_report_sub_menu_wo" name="Workorder" parent="sh_inventory_mrp_qc.quality_control_report_main_menu" sequence="2" />

    <menuitem id="menu_wo_quality_check_pivot" name="Quality Check" action="wo_quality_check_report_action" parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_wo" sequence="1" />
    <menuitem id="menu_wo_quality_alert_pivot" name="Quality Alert" action="wo_quality_alert_report_action" parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_wo" sequence="2" />

    <menuitem
        id="menu_wo_quality_check_action"
        name="Quality Check Report"
        groups="sh_inventory_mrp_qc.sh_quality_control_manager"
        action="wo_quality_check_report_wizard_action"
        parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_wo"
        sequence="3"
    />
    <menuitem
        id="menu_wo_quality_alert_report"
        name="Quality Alert Report"
        action="mrp_workorder_quality_alert_report_wizard_action"
        groups="sh_inventory_mrp_qc.sh_quality_control_manager"
        parent="sh_inventory_mrp_qc.quality_control_report_sub_menu_wo"
        sequence="5"
    />

    <menuitem id="quality_control_config" name="Configuration" parent="quality_control_main_menu" sequence="4" groups="sh_inventory_mrp_qc.sh_quality_control_manager" />
    <menuitem id="menu_quality_team" action="quality_team_action" parent="quality_control_config" sequence="1" />
    <menuitem id="menu_quality_point" action="quality_point_action" parent="sh_inventory_mrp_qc.quality_control_config" sequence="2" />
    <menuitem id="menu_qc_alert_stage" action="quality_alert_stage_action" parent="sh_inventory_mrp_qc.quality_control_config" sequence="3" />

    <menuitem id="quality_alert_tags_menu" name="Quality Alert Tags" parent="sh_inventory_mrp_qc.quality_control_config" action="quality_alert_tags_action" sequence="4" />
</odoo>
